.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
  margin-top: 50px;
}
.input-container p {
  font-size: 1.3rem;
  font-family: "Poppins", sans-serif;
}
.input-container input {
  padding: 8px;
  width: 100%;
  outline: none;
}
